//font-family: 'Inter', sans-serif;

@font-face {
    font-family: 'SegoeUI';
    font-weight: normal;
    font-style: normal;
    src: local('0') url(../fonts/SegoeUI.woff) format("woff");
}
@font-face {
    font-family: 'SegoeUI-Bold';
    src:  local('0') url(../fonts/SegoeUI-Bold.woff) format("woff");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'SegoeUI-SemiBold';
    src:  local('0') url(../fonts/SegoeUI-SemiBold.woff) format("woff");
    font-weight: 600;
    font-style: normal;
}